util/__pycache__
chkp/paper-model.pth
__pycache__
__pycache__/models_vit.cpython-37.pyc
__pycache__/postproc.cpython-37.pyc
img/results/density_mapbig.npy
img/results/density_map.npy
pad.py
rolling_data
img/results